@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@400;700&display=swap');
@import "tailwindcss";

body.ua {
  font-family: 'Rubik', sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

.input {
  @apply w-full px-4 py-2 border border-gray-300 rounded-md bg-white text-gray-900
          focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
          transition-shadow;
}

